## Web-Scraping - Game of Thrones - Main & Recurring Characters Of All Seasons

**Quick Note**

This Notebook gets all starring cast characters of the popular HBO series 'Game of Thrones' and organizes them into a '.csv'.

Pandas is truely wonderful.

**Sources**

- [Pandas Documentation](https://pandas.pydata.org/docs/)

### Importing the necessary tools

In [1]:
import pandas as pd

### Source

In [2]:
page_url = 'https://en.wikipedia.org/wiki/List_of_Game_of_Thrones_characters'

In [3]:
# Don't need to verify certificate for wikipedia...
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

### Fetch tables from url

In [4]:
table_MN = pd.read_html(page_url)
len(table_MN)

8

### Identify tables of interest

#### Main characters

In [5]:
main_cast = table_MN[3]
main_cast.head()

                   Actor           Character Appearances                    \
                   Actor           Character           1        2        3
0              Sean Bean  Eddard "Ned" Stark        Main      NaN      NaN
1              Mark Addy    Robert Baratheon        Main      NaN      NaN
2  Nikolaj Coster-Waldau     Jaime Lannister        Main     Main     Main
3       Michelle Fairley       Catelyn Stark        Main     Main     Main
4            Lena Headey    Cersei Lannister     Main[c]  Main[c]  Main[c]


         4        5             6         7        8
0      NaN      NaN  Recurring[a]  Guest[b]      NaN
1      NaN      NaN           NaN       NaN      NaN
2     Main     Main          Main      Main     Main
3      NaN      NaN           NaN       NaN      NaN
4  Main[c]  Main[c]       Main[c]   Main[c]  Main[c]

In [6]:
main_cast.shape

(44, 10)

In [7]:
main_char = main_cast['Character']

main_char.head()

            Character
0  Eddard "Ned" Stark
1    Robert Baratheon
2     Jaime Lannister
3       Catelyn Stark
4    Cersei Lannister

#### Recurring characters

In [8]:
recurr_cast = table_MN[4]
recurr_cast.head()

            Actor      Character Appearances                            \
            Actor      Character           1          2    3    4    5
0  Donald Sumpter  Maester Luwin   Recurring  Recurring  NaN  NaN  NaN
1     Jamie Sives    Jory Cassel   Recurring        NaN  NaN  NaN  NaN
2    Ron Donachie  Rodrik Cassel   Recurring  Recurring  NaN  NaN  NaN
3    Joseph Mawle   Benjen Stark   Recurring        NaN  NaN  NaN  NaN
4       Dar Salim          Qotho   Recurring        NaN  NaN  NaN  NaN


              6      7    8
0           NaN    NaN  NaN
1           NaN    NaN  NaN
2      Guest[a]    NaN  NaN
3  Recurring[b]  Guest  NaN
4           NaN    NaN  NaN

In [9]:
recurr_cast.shape

(118, 10)

In [10]:
recurr_char = recurr_cast['Character']

recurr_char.head()

       Character
0  Maester Luwin
1    Jory Cassel
2  Rodrik Cassel
3   Benjen Stark
4          Qotho

#### Merge 2 character tables

In [11]:
characters = pd.concat([main_char, recurr_char], ignore_index=True)

characters.shape

characters

              Character
0    Eddard "Ned" Stark
1      Robert Baratheon
2       Jaime Lannister
3         Catelyn Stark
4      Cersei Lannister
..                  ...
157       Randyll Tarly
158        Dickon Tarly
159              Harrag
160          Night King
161       Alys Karstark

[162 rows x 1 columns]

In [12]:
import re
# Helper to get nickname
def first_val(list):
    if len(list) > 0:
        return list[0]
    else:
        return 'NaN'
# Extract nick name
characters['Character_nickname'] = characters['Character'].apply(lambda x: re.findall('\".*?\"',x))
characters['Character_nickname'] = characters['Character_nickname'].apply(lambda x: first_val(x).replace('\"', ''))
# Extract first name
characters['Character_firstname'] = characters['Character'].apply(lambda x: x.split(' ', 1)[0])
# Filter from Character name
characters['Character'] = characters['Character'].apply(lambda x: re.sub('\".*?\"','',x))
# Fix double 'space'
characters['Character'] = characters['Character'].apply(lambda x: re.sub('  ',' ', x))

In [13]:
# Check char list(or open csv once created...)
pd.set_option('display.max_rows', None)
characters

                 Character Character_nickname Character_firstname
0             Eddard Stark                Ned              Eddard
1         Robert Baratheon                NaN              Robert
2          Jaime Lannister                NaN               Jaime
3            Catelyn Stark                NaN             Catelyn
4         Cersei Lannister                NaN              Cersei
5       Daenerys Targaryen                NaN            Daenerys
6            Jorah Mormont                NaN               Jorah
7        Viserys Targaryen                NaN             Viserys
8                 Jon Snow                NaN                 Jon
9               Robb Stark                NaN                Robb
10             Sansa Stark                NaN               Sansa
11              Arya Stark                NaN                Arya
12           Theon Greyjoy                NaN               Theon
13              Bran Stark                NaN                Bran
14       Joffrey Baratheon                NaN             Joffrey
15          Sandor Clegane          The Hound              Sandor
16        Tyrion Lannister                NaN              Tyrion
17              Khal Drogo                NaN                Khal
18           Petyr Baelish       Littlefinger               Petyr
19          Davos Seaworth                NaN               Davos
20           Samwell Tarly                NaN             Samwell
21       Stannis Baratheon                NaN             Stannis
22              Melisandre                NaN          Melisandre
23            Jeor Mormont                NaN                Jeor
24                   Bronn                NaN               Bronn
25                   Varys                NaN               Varys
26                    Shae                NaN                Shae
27         Margaery Tyrell                NaN            Margaery
28         Tywin Lannister                NaN               Tywin
29           Talisa Maegyr                NaN              Talisa
30                 Ygritte                NaN             Ygritte
31                  Gendry                NaN              Gendry
32      Tormund Giantsbane                NaN             Tormund
33        Brienne of Tarth                NaN             Brienne
34           Ramsay Bolton                NaN              Ramsay
35                   Gilly                NaN               Gilly
36          Daario Naharis                NaN              Daario
37               Missandei                NaN           Missandei
38        Tommen Baratheon                NaN              Tommen
39            Ellaria Sand                NaN             Ellaria
40            Jaqen H'ghar                NaN               Jaqen
41            Roose Bolton                NaN               Roose
42        The High Sparrow                NaN                 The
43               Grey Worm                NaN                Grey
44           Maester Luwin                NaN             Maester
45             Jory Cassel                NaN                Jory
46           Rodrik Cassel                NaN              Rodrik
47            Benjen Stark                NaN              Benjen
48                   Qotho                NaN               Qotho
49                     Ros                NaN                 Ros
50           Septa Mordane                NaN               Septa
51            Rickon Stark                NaN              Rickon
52      Myrcella Baratheon                NaN            Myrcella
53                   Hodor                NaN               Hodor
54                  Doreah                NaN              Doreah
55                    Irri                NaN                Irri
56              Ilyn Payne                NaN                Ilyn
57                    Rast                NaN                Rast
58          Alliser Thorne                NaN             Alliser
59         Barristan Selmy                NaN           Barristan
60                   Yoren                NaN               Yoren
61   Grand Maester Pycelle                NaN               Grand
62         Renly Baratheon                NaN               Renly
63           Maester Aemon                NaN             Maester
64             Syrio Forel                NaN               Syrio
65                   Grenn                NaN               Grenn
66                   Pypar                NaN               Pypar
67                 Rakharo                NaN             Rakharo
68        Lancel Lannister                NaN              Lancel
69             Janos Slynt                NaN               Janos
70               Marillion                NaN           Marillion
71              Lysa Arryn                NaN                Lysa
72             Robin Arryn                NaN               Robin
73                    Osha                NaN                Osha
74          Greatjon Umber                NaN            Greatjon
75          Mirri Maz Duur                NaN               Mirri
76         Kevan Lannister                NaN               Kevan
77                 Craster                NaN             Craster
78         Eddison Tollett                NaN             Eddison
79                 Hot Pie                NaN                 Hot
80        Lommy Greenhands                NaN               Lommy
81                 Kovarro                NaN             Kovarro
82        Matthos Seaworth                NaN             Matthos
83          Dontos Hollard                NaN              Dontos
84         Alton Lannister                NaN               Alton
85             Meryn Trant                NaN               Meryn
86                   Daisy                NaN               Daisy
87                   Rorge                NaN               Rorge
88            Yara Greyjoy                NaN                Yara
89                   Biter                NaN               Biter
90           Podrick Payne                NaN             Podrick
91            Loras Tyrell                NaN               Loras
92             Amory Lorch                NaN               Amory
93          Gregor Clegane       The Mountain              Gregor
94              Spice King                NaN               Spice
95        Xaro Xhoan Daxos                NaN                Xaro
96               Pyat Pree                NaN                Pyat
97         Dagmer Cleftjaw                NaN              Dagmer
98            Black Lorren                NaN               Black
99         Qhorin Halfhand                NaN              Qhorin
100              Silk King                NaN                Silk
101           Mance Rayder                NaN               Mance
102                 Qyburn                NaN              Qyburn
103       Rickard Karstark                NaN             Rickard
104      Kraznys mo Nakloz                NaN             Kraznys
105          Olenna Tyrell                NaN              Olenna
106                  Orell                NaN               Orell
107          Thoros of Myr                NaN              Thoros
108                  Locke                NaN               Locke
109             Jojen Reed                NaN               Jojen
110             Meera Reed                NaN               Meera
111                  Anguy                NaN               Anguy
112          Brynden Tully                NaN             Brynden
113           Edmure Tully                NaN              Edmure
114             Little Sam                NaN              Little
115       Beric Dondarrion                NaN               Beric
116     Steelshanks Walton                NaN         Steelshanks
117         Oberyn Martell                NaN              Oberyn
118                   Styr                NaN                Styr
119             Thenn Warg                NaN               Thenn
120         Othell Yarwyck                NaN              Othell
121         Selyse Florent                NaN              Selyse
122            Mace Tyrell                NaN                Mace
123      Shireen Baratheon                NaN             Shireen
124            High Septon                NaN                High
125                   Olly                NaN                Olly
126       Hizdahr zo Loraq                NaN             Hizdahr
127                 Olyvar                NaN              Olyvar
128            Bowen Marsh                NaN               Bowen
129          Doran Martell                NaN               Doran
130             Areo Hotah                NaN                Areo
131       Trystane Martell                NaN            Trystane
132               The Waif                NaN                 The
133                Myranda                NaN             Myranda
134           Walda Bolton                NaN               Walda
135             Obara Sand                NaN               Obara
136             Tyene Sand                NaN               Tyene
137           Nymeria Sand                NaN             Nymeria
138           Septa Unella                NaN               Septa
139              Khal Moro                NaN                Khal
140                  Qhono                NaN               Qhono
141       Three-Eyed Raven                NaN          Three-Eyed
142    Wun Weg Wun Dar Wun                NaN                 Wun
143                   Leaf                NaN                Leaf
144        Harald Karstark                NaN              Harald
145               Izembaro                NaN            Izembaro
146             Lady Crane                NaN                Lady
147                 Bobono                NaN              Bobono
148               Clarenzo                NaN            Clarenzo
149    Black Walder Rivers                NaN               Black
150            Lothar Frey                NaN              Lothar
151         Lyanna Mormont                NaN              Lyanna
152     Archmaester Ebrose                NaN         Archmaester
153          Euron Greyjoy                NaN               Euron
154          Robett Glover                NaN              Robett
155             Yohn Royce                NaN                Yohn
156         Maester Wolkan                NaN             Maester
157          Randyll Tarly                NaN             Randyll
158           Dickon Tarly                NaN              Dickon
159                 Harrag                NaN              Harrag
160             Night King                NaN               Night
161          Alys Karstark                NaN                Alys

In [14]:
# Quick fixes char (Names that can be missinterpreted if unchanged)
characters.Character_firstname[17] = 'Drogo' # Khal Drogo
characters.Character_firstname[42] = 'High Sparrow' # The High Sparrow
characters.Character[42] = 'High Sparrow'
characters.Character_firstname[44] = 'Maester Luwin' 
characters.Character_firstname[61] = 'Maester Pycelle'
characters.Character_firstname[63] = 'Maester Aemon'
characters.Character_firstname[156] = 'Maester Wolkan'
characters.Character_firstname[114] = 'Little Sam' # Little Sam
characters.Character_firstname[132] = 'The Waif' 
characters.Character_firstname[139] = 'Moro' # Khal Moro
characters.Character_firstname[146] = 'Lady Crane'
characters.Character_firstname[160] = 'Night King'

### Create 'characters.csv'

In [17]:
string = characters.to_csv(sep=',')

f = open('characters.csv',"w+")
f.write(string)

4398